
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 40px ;
}

.listItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 0;
    list-style: none;
}

.btnLoadMore {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    width: 196px;
    height: 50px;
    margin-top: 26px;
    color: #373737;
    background-color: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover,
    &:focus {
        background-color: #e2d0f5ee;
    }
}

.btnDisabled {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    width: 196px;
    height: 50px;
    margin-top: 26px;
    color: #969292;
    background-color: #e8ddf3;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-color: transparent;
    border-radius: 10px;
    text-transform: uppercase;
}

.select {
    padding-left: 5px;
    font-size: 22px;
    font-weight: 400;
    line-height: calc(22 / 18);
    color:#373737;
    border-radius: 10.3108px;
    background-color:  linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    outline: none;
    cursor: pointer;
}

.label {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 200px;
        height: 80px;
        margin-top: -40px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: calc(22 / 18);
        border-radius: 10.3108px;
        color: #e8ddf3;
        background-color:  #5736A3;
        outline: none;
}

