p {
    margin: 0;
}

.container {
    position: relative;
    width: 380px;
    height: 460px;
    overflow: hidden;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
}

.skeleton {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    /* Цвет фона скелетона */
    animation: loading 1.5s infinite linear;
    /* Анимация загрузки */
}


@keyframes shimmer {
    0% {
        background-position: -100px 0;
    }

    100% {
        background-position: 100px 0;
    }
}

.shimmer {
    background: linear-gradient(90deg, #471CA9 25%, #5736A3 37%, #4B2A99 63%);
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
}


